#back_top {
	position: fixed;
	cursor: pointer;
	bottom: 30px;
	right: 30px;
	z-index: 9;
}

#back_top .icon  {
	display: inline-block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	font-size: 25px;
	text-align: center;
	position: relative;
	opacity: 1;
	color: #ffffff;
	background-color: #58bd47;
	-webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
	-ms-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-ms-border-radius: 100px;
	border-radius: 100px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

#back_top .icon:hover {
	opacity: 1;
	color: #ffffff;
	background-color: #32bef9;
}
