@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url("../../assets/libraries/bootstrap/css/bootstrap.min.css");
@import url("../../assets/libraries/back-top/css/back-top.css");
@import url("../../assets/libraries/font-awesome-4.7.0/css/font-awesome.min.css");
@import url("../../assets/libraries/OwlCarousel2-2.2.1/css/owl.carousel.min.css");
@import url("../../assets/libraries/OwlCarousel2-2.2.1/css/owl.theme.default.min.css");
@import url("../../assets/libraries/wow/css/animate.css");
@import url("../../assets/libraries/reset-css/reset.css");

/* icon S */

	@font-face {
		font-family: 'icomoon';
		src:  url('../fonts/icomoon.eot?ryqtd3');
		src:  url('../fonts/icomoon.eot?ryqtd3#iefix') format('embedded-opentype'),
			url('../fonts/icomoon.ttf?ryqtd3') format('truetype'),
			url('../fonts/icomoon.woff?ryqtd3') format('woff'),
			url('../fonts/icomoon.svg?ryqtd3#icomoon') format('svg');
		font-weight: normal;
		font-style: normal;
	}

	[class^="icon-"], [class*=" icon-"] {
		/* use !important to prevent issues with browser extensions that change fonts */
		font-family: 'icomoon' !important;
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;

		/* Better Font Rendering =========== */
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	.icon-contact:before {
		content: "\e900";
	}
	.icon-locked:before {
		content: "\e901";
	}
	.icon-user:before {
		content: "\e902";
	}	

/* icon E */

/* Global Css S */
	
.font-bold {
	font-weight: 500;
}

.margin-bottom-30 {
	margin-bottom: 30px;
}

/* Global Css E */

/*
==========================================
	Header
==========================================
*/

/* Header Section S */

.header-main {
	padding: 10px 0px;
	background: #fff;
}
.header-main .logo img {
	width: 270px;
}

/* Header Section E */

/*
==========================================
	Header - Secondary
==========================================
*/
.header-main-secondary .header-menubar-section {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.header-main-secondary .header-menubar-section .menus {
	font-size: 18px;
	margin-left: 25px;
	cursor: pointer;
}

.header-main-secondary .header-menubar-section .menus,
.header-main-secondary .header-menubar-section .menus a {
	color: #9c9c9c;
	transition: 0.8s;
}

.header-main-secondary .header-menubar-section .menus:hover,
.header-main-secondary .header-menubar-section .menus a:hover {
	color: #58bb47;
	transition: 0.8s;
}

.header-main-secondary .header-menubar-section .menus .profile_section {
	display: flex;
	align-items: center;
}

.header-main-secondary .header-menubar-section .menus .profile_section .profile_image {
	display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 100px;
    background: #25aae3;
    color: #fff;
    margin-right: 10px;
}

.header-main-secondary .header-menubar-section .menus .profile_section .user_name {
	font-weight: 500;
	line-height: 120%;
}

.header-main-secondary .header-menubar-section .menus .search_section  {
	align-items: center;
}

.header-main-secondary .header-menubar-section .menus .search_section .form-control {
	height: 15px;
	width: 0px;
	border-color: transparent;
	border-left: 2px solid transparent;
	padding: 0px;
}

.header-main-secondary .header-menubar-section .sub-menu-section-icon {
	position: relative;	
}

.header-main-secondary .header-menubar-section .sub-menu-section {
    display: none;
    position: absolute;
    background: transparent;
    z-index: 1;
    right: -140px;
    width: 280px;
    height: auto;
    padding-top: 20px;
}

.header-main-secondary .header-menubar-section .sub-menu-section > .row {
	margin: 0px;
	padding: 20px;
	border-top: 2px solid #57ba45;
	background: #fff;
}

.header-main-secondary .header-menubar-section .sub-menu-section > .row > .col-sm-6 {
	padding: 0px;
}

.header-main-secondary .header-menubar-section .sub-menu-section > .row > .col-sm-6:last-child {
	padding-left: 30px;
}

.header-main-secondary .header-menubar-section .sub-menu-section li.sub-menu {
    font-size: 15px;
    line-height: 120%;
    margin-bottom: 10px;
    white-space: nowrap;
}

.header-main-secondary .header-menubar-section .sub-menu-section li.sub-menu a {
	color: #000;
	font-size: 15px;
}

.header-main-secondary .header-menubar-section .sub-menu-section-icon:hover .sub-menu-section {
	display: block;
	-webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadein 0.5s; /* Firefox < 16 */
	-ms-animation: fadein 0.5s; /* Internet Explorer */
	-o-animation: fadein 0.5s; /* Opera < 12.1 */
	animation: fadein 0.5s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@media (max-width: 575px) {
	.header-main .logo {
		text-align: center;
		margin: 10px 0px;
	}
	.header-main .logo img {
		width: 200px;
	}
	.header-main-secondary .header-menubar-section {
		justify-content: center;
	}
	.header-main-secondary .header-menubar-section .sub-menu-section > .row > .col-sm-6:last-child {
		padding-left: 0px;
	}
	.header-main-secondary .header-menubar-section .sub-menu-section {
		padding-top: 0px;
		top: 30px;
		box-shadow: 0px 0px 1px 1px #e4d2d26b;
	}
}

/*
==========================================
	Home Page
==========================================
*/

/* Banner Section S */
.banner_section {
	width: 100%;
	background: url(../image/banner-bg.png);
	background-size: cover;
	background-position: right;
}

.banner_section .item {
	height: 360px;
}

.banner_section .container,
.banner_section .row {
	height: 100%;
}

.banner_section .row.custom-row {
	align-items: flex-end;
}

.banner_section .row.custom-row .custom-col {
	height: 100%;
	display: flex;
	align-items: center;	
}

.banner_section .banner_content .banner_content_title {
	font-size: 49px;
	color: #fff;
	margin: 0px;
	line-height: 120%;
	font-weight: 500;
}

.banner_section .banner_content .banner_content_title .custom_color {
	color: #fdf938;
}

.banner_section .banner_content .banner_section_buttons .btn {
	display: inline-flex;
	font-size: 24px;
	padding: 10px 0px;
	justify-content: center;
	align-items: center;
	border: 1px solid #fff;
	border-radius: 0px;
	color: #fff;
	width: 125px;
	font-weight: 500;
	margin-right: 25px;
	transition: 0.8s;
}

.banner_section .banner_content .banner_section_buttons .btn:hover {
	transition: 0.8s;
	color: #373737;
	background: #fff;
}

.banner_section .banner_content .banner_section_buttons .btn.signup {
	background: #fff;
	color: #373737;
	transition: 0.8s;
}

.banner_section .banner_content .banner_section_buttons .btn.signup:hover {
	transition: 0.8s;
	background: transparent;
	color: #fff;
}

@media (max-width: 991px) {
	.banner_section .banner_one {
		position: relative;
	}
	.banner_section .banner_one:before {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: #00000057;
		content: '';
	}
	.banner_section .banner_content .banner_content_title {
		font-size: 40px;
	}
	.banner_section .custom-row .custom-padding {
		padding-left: 0px;
	}
	.banner_section .custom-row .custom-padding img {
		max-width: 255px;
	}
}

@media (max-width: 767px) {
	.banner_section .custom-row .custom-padding {
		position: absolute;
		right: 100px;
		z-index: -1;
	}
	.banner_section .custom-row .custom-padding img {
		width: 250px;
	}
	.banner_section .banner_content .banner_content_title {
		font-size: 33px;
	}
	.banner_section .item {
		height: 300px;
	}
	.banner_section .banner_content .banner_section_buttons .btn {
		font-size: 20px;
		padding: 8px 0px;
		width: 100px;
	}
}

@media (max-width: 575px) {
	.banner_section .banner_one:before {
		background: #00000070;
	}
	.banner_section .banner_content {
		width: 335px;
	}
	.banner_section .banner_content .banner_content_title {
		font-size: 30px;
	}
	.banner_section .banner_content .banner_section_buttons {
		display: flex;
	}
	.banner_section .banner_content .banner_section_buttons .btn {
		padding: 8px 0px;
		font-size: 19px;
		width: 100px;
	}
	.banner_section .custom-row .custom-padding {
		position: absolute;
	    z-index: -1;
	    right: 0px;
	}
	.banner_section .custom-row .custom-padding img {
		margin-left: auto;
	}

}
/* Banner Section E */

/* Banner --> Login - Modal S */
.login_signup_modal.modal .modal-body {
	padding: 0px;
	background: #24a9e2;
}

.login_signup_modal.modal .modal-content {
	border: 0px;
	border-radius: 0px;
}

.login_signup_modal.modal .modal-body .row {
	margin: 0px;
	align-items: center;
}

.login_signup_modal.modal .form_details_grid {
	padding: 0px 35px;
}

.login_signup_modal.modal .form_section_grid {
	background: #fff;
}

.login_signup_modal.modal .form_details .login_form_details_title {
	font-size: 50px;
	color: #fff;
	margin: 0px;
	font-weight: 300;
	line-height: 120%;
	margin-bottom: 25px;
}

.login_signup_modal.modal .form_details ul {
	padding-left: 10px;
}

.login_signup_modal.modal .form_details li {
	color: #fff;
	font-size: 19px;
	padding-left: 20px;
	line-height: 120%;
	margin-bottom: 15px;
	position: relative;
	font-weight: 100;
}

.login_signup_modal.modal .form_details li:before {
	content: '\25CF';
	color: #fff;
	position: absolute;
	left: 0px;
	top: -1px;
}

.login_signup_modal.modal .form_section {
	padding: 15px 0px 50px 0px;
}

.login_signup_modal.modal .form_section .form_breadcrumbs ul li {
	display: inline-block;
	font-size: 19px;
	line-height: 120%;
	color: #d8dde0;
	margin-bottom: 5px;
	margin-right: 5px;
}

.login_signup_modal.modal .form_section .login_signup_form {
	margin-top: 20px;
	margin-bottom: 60px;
}

.login_signup_modal.modal .form_section .input-group {
	display: flex;
	align-items: center;
}

.login_signup_modal.modal .form_section .input-group input::placeholder {
    color: rgb(207, 206, 211);
    opacity: 1; 
}

.login_signup_modal.modal .form_section .input-group input:-ms-input-placeholder { 
    color: rgb(207, 206, 211);
}

.login_signup_modal.modal .form_section .input-group input::-ms-input-placeholder { 
    color: rgb(207, 206, 211);
}

.login_signup_modal.modal .form_section .input-group input {
	border: 0px;
	height: 30px;
	padding: 0px;
}

.login_signup_modal.modal .form_section .input-group input:focus {
	box-shadow: none;
}

.login_signup_modal.modal .form_section .input-group .input-group-btn {
	font-size: 16px;
    margin-right: 5px;
    color: #cfced3;
}

.login_signup_modal.modal .form_section .button_section .col-md-3,
.login_signup_modal.modal .form_section .button_section .col-md-9 {
	padding: 0px;
}

.login_signup_modal.modal .form_section .button_section .login_signup_button .btn {
    width: 65px;
    border-radius: 100px;
    border: 2px solid #24a9e2;
    background: transparent;
    color: #24a9e2;
    font-size: 14px;
    padding: 8px 0px;
    text-align: center;
    transition: 0.8s;
}

.login_signup_modal.modal .form_section .button_section .login_signup_button .btn:hover {
	transition: 0.8s;
	background: #24a9e2;
	color: #fff;
}

.login_signup_modal.modal .form_section .button_section .social_icon_section {
	display: flex;
	justify-content: flex-end;
	color: #d2c3c6;
	align-items: center;
}

.login_signup_modal.modal .form_section .button_section .social_icon_section .icon {
    display: inline-flex;
    width: 15px;
    height: 15px;
    align-items: center;
    font-size: 16px;
    justify-content: center;
    border-radius: 100px;
    padding: 15px;
    color: #fff;
    margin-left: 15px;
}

.login_signup_modal.modal .form_section .button_section .social_icon_section .icon.facebook_icon {
	background: #3B5998;
}

.login_signup_modal.modal .form_section .button_section .social_icon_section .icon.twitter_icon {
	background: #55ACEE;
}

.login_signup_modal.modal .form_section .button_section .social_icon_section .icon.google_icon {
	background: #dd4b39;
}

@media (min-width: 767px) {

	.login_signup_modal.modal .modal-dialog {
		max-width: 712px;
	}

}

@media (max-width: 767px) {
	.login_signup_modal.modal .form_details_grid {
		padding: 0px 25px;
	}
	.login_signup_modal.modal .form_details .login_form_details_title {
		font-size: 38px;
	}
	.login_signup_modal.modal .form_details ul {
		padding-left: 0px;
	}
	.login_signup_modal.modal .form_details li {
		font-size: 17px;
	}
	.login_signup_modal.modal .form_section .login_signup_form {
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.login_signup_modal.modal .form_section .button_section .login_signup_button {
		text-align: center;
		margin-bottom: 30px;
	}
	.login_signup_modal.modal .form_section .button_section .login_signup_button .btn {
		width: 100px;
	}
}

@media (max-width: 575px) {
	.login_signup_modal.modal .form_details_grid {
		display: none;
	}
}
/* Banner --> Login - Modal S */

/* About TrippyWords Section S */

.about_trippywords_section .about_trippywords .title {
	font-size: 30px;
	color: #5e5e5e;
	line-height: 120%;
	font-weight: 500;
	margin-bottom: 17px;
	margin-top: 0px;
}

.about_trippywords_section .about_trippywords .details {
	font-size: 16px;
	line-height: 120%;
}

.about_trippywords_section .about_trippywords .about_trippywords_tab_section {
	margin-top: 45px;
}

.about_trippywords_section .about_trippywords .about_trippywords_tab_section .tab {
	display: flex;
}

.about_trippywords_section .about_trippywords .about_trippywords_tab_section .tab .tablinks {
    padding: 15px;
    background: #fff;
    margin-right: 15px;
    color: #5e5e5e;
    font-size: 18px;
    cursor: pointer;
    font-weight: 500;
	transition: 0.8s;
	border: 2px solid transparent;
}

.about_trippywords_section .about_trippywords .about_trippywords_tab_section .tab .tablinks.active {
    background: #32bef9;
    color: #fff;	
	transition: 0.8s;
}

.about_trippywords_section .about_trippywords .about_trippywords_tab_section .tab .tablinks.active:hover {
	color: #fff;
}

.about_trippywords_section .about_trippywords .about_trippywords_tab_section .tab .tablinks:hover {
	transition: 0.8s;
    border-color: #32bef9;
    color: #32bef9;		
}

.about_trippywords_section .about_trippywords .about_trippywords_tab_section .tabcontent {
	background: #f5f6f8;
	color: #5e5e5e;
	padding: 15px;
	margin-top: 0px;
	-webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

.about_trippywords_section .about_trippywords .about_trippywords_tab_section .tabcontent .desc {
	font-size: 15px;
	line-height: 175%;
}

@media (max-width: 575px) {
	.about_trippywords_section .about_trippywords .about_trippywords_tab_section .tab .tablinks {
		font-size: 17px;
	}
}

/* About TrippyWords Section E */


/*
==========================================
	Blog-page
==========================================
*/

/* Inner Banner Section S */
.inner-banner {
	width: 100%;
	height: 290px;
}

.inner-banner.blog_page_banner {
	background: url(../image/inner-bg-1.jpg);
	background-size: cover;
}
/* Inner Banner Section E */

/* Blog Page Section - Main-section S */
.blog_page {
	margin-top: 60px;
	margin-bottom: 30px;
}

.blog_page .blog_main_section .blog_section {
	border: 1px solid #ececec;
	padding: 30px 25px;	
}

.blog_page .blog_main_section .blog_slider .blog_slide {
	height: 520px;
	width: 100%;
}

.blog_page .blog_main_section .blog_slider .blog_slide.blogOne {
	background: url(../image/blog-1.jpg);
	background-size: cover;
}

.blog_page .blog_main_section .blog_slider .blog_slide.blogTwo {
	background: url(../image/blog-1.jpg);
	background-size: cover;
}

.blog_page .blog_main_section .blog_section .blog_title .title {
	font-size: 16px;
    font-weight: 700;
    color: #0a0e1b;
    margin: 0px;
    letter-spacing: 1px;
    line-height: 120%;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
}

.blog_page .blog_main_section .blog_section .blog_sub_title {
	display: flex;
	font-size: 12px;
	text-transform: uppercase;
	margin-bottom: 20px;
	font-family: 'Open Sans', sans-serif;
}

.blog_page .blog_main_section .blog_section .blog_sub_title .blog_subtitle_div {
	margin-right: 30px;
}

.blog_page .blog_main_section .blog_section .blog_sub_title .blog_subtitle_div .icon {
	margin-right: 5px;
}

.blog_page .blog_main_section .blog_section .blog_sub_title .blog_subtitle_div .icon i {
	vertical-align: top;
}

.blog_page .blog_main_section .blog_section .blog_content .blogs {
	font-size: 15px;
	line-height: 160%;
	margin-bottom: 35px;
	font-family: 'Raleway', sans-serif;
}

.blog_page .blog_main_section .blog_section .blog_content .blogs.quoted {
	font-size: 20px;
	font-weight: 700;
	font-style: italic;
	color: #0a0e1b;	
}

.blog_page .blog_main_section .blog_section .share_button a {
	font-size: 15px;
	color: #676767;
}

.blog_page .blog_main_section .form_section {
	margin-top: 80px;
	font-family: 'Raleway', sans-serif;
}

.blog_page .blog_main_section .form_section .form_title {
	font-size: 25px;
	color: #0a0e1b;
	line-height: 120%;
	font-weight: 700;
	margin-bottom: 35px;
}

.blog_page .blog_main_section .form_section .form-control {
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-radius: 0px;
	font-size: 14px;
	padding-left: 0px;
	padding-right: 0px;
}

.blog_page .blog_main_section .form_section .button_section {
	width: 100%;
	text-align: right;
	margin-top: 40px;
	padding-right: 15px;	
}

.blog_page .blog_main_section .form_section .button_section .btn {
    background: #fddd2f;
    width: 280px;
    color: #353e43;
    font-size: 14px;
    letter-spacing: 1px;
    transition: 0.5s;
}

.blog_page .blog_main_section .form_section .button_section .btn:hover {
	transition: 0.5s;
	background: #32bef9;
	color: #fff;
}

.blog_page .blog_side_section {
	text-transform: uppercase;
	margin-bottom: 40px;
}

.blog_page .blog_side_section:last-child {
	margin-bottom: 0px;
}

.blog_page .blog_side_section .blog_side_section_title .title {
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
	color: #0a0e1b;
	font-weight: 500;
	margin: 0px 0px 20px 0px;
}

.blog_page .blog_side_section .blog_category .blog_category_list {
	padding: 20px 0px;
	border-bottom: 1px solid #ececec;
	transition: 0.5s;
	font-family: 'Montserrat', sans-serif;
}

.blog_page .blog_side_section .blog_category .blog_category_list.category_list {
	cursor: pointer;
}

.blog_page .blog_side_section .blog_category .blog_category_list.category_list a.active {
	color: #58bd47;
}

.blog_page .blog_side_section .blog_category .blog_category_list.category_list:hover {
	background: #32bef9;
	padding: 20px 15px;
	transition: 0.5s;
}

.blog_page .blog_side_section .blog_category .blog_category_list.category_list a {
	transition: 0.5s;
}

.blog_page .blog_side_section .blog_category .blog_category_list.category_list:hover a {
	transition: 0.5s;
	color: #fff;
}

.blog_page .blog_side_section .blog_category .blog_category_list:last-child {
	border-bottom: 0px;
}

.blog_page .blog_side_section .blog_category .blog_category_list a {
	color: #707070;
	font-size: 11px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.blog_page .blog_side_section .blog_category .blog_category_list .media .media-left img {
	width: 75px;
}

.blog_page .blog_side_section .blog_category .blog_category_list .media .media-body .media-heading {
	transition: 0.5s;
    font-size: 12px;
    margin-bottom: 5px;
    line-height: 140%;	
}

.blog_page .blog_side_section .blog_category .blog_category_list .media .media-body .media-heading:hover {
	color: #58ba47;
	transition: 0.5s;
}

.blog_page .blog_side_section .blog_category .blog_category_list .media .media-body .post_date {
	font-size: 11px;
    color: #9997b4;
}

.blog_page .blog_side_section .blog_tags .tag_list {
	display: inline-block;
	font-size: 12px;
	padding: 0px 10px 20px 10px;
	font-family: 'Montserrat', sans-serif;
}

.blog_page .blog_side_section .blog_tags .tag_list a {
	color: #707070;
	transition: 0.5s;
}

.blog_page .blog_side_section .blog_tags .tag_list a:hover {
	transition: 0.5s;
	color: #58ba47;
}

@media (max-width: 767px) {
	.blog_page .blog_main_section {
		margin-bottom: 50px;
	}
	.blog_page .blog_main_section .form_section .button_section {
		text-align: center;
		padding-right: 0px;
	}
	.blog_page .blog_main_section .form_section .form_title {
		text-align: center;
	}
}

/* Blog Page Section - Main-section E */

/*
==========================================
	Profile Page
==========================================
*/

/* Profile Page Section S */

.body-profile-page {
	background: #f5f5f5;
}

.profile_page {
	background: #f5f5f5;
	padding: 30px 0px;
	font-family: 'Open Sans', sans-serif;
}

.profile_page .profile_page_side_section .user_profile .user_image_section {
	background: #58ba47;
	position: relative;
	padding: 25px 0px;
}

.profile_page .profile_page_side_section .user_profile .user_image_section .edit_image {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 22px;
}

.profile_page .profile_page_side_section .user_profile .user_image_section .edit_image a {
	color: #fff;
}

.profile_page .profile_page_side_section .user_profile .user_image_section .profile_pic {
    width: 90px;
    height: 90px;
    background: #ebebeb;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border: 3px solid #fff;
}

.profile_page .profile_page_side_section .user_profile .user_image_section .profile_pic img {
	width: 35px;
}

.profile_page .profile_page_side_section .user_details {
	padding: 25px 0px 20px 0px;
	background: #fff;
	text-align: center;
}

.profile_page .profile_page_side_section .user_details .user_name {
	font-size: 24px;
	font-weight: 700;
	margin: 0px;
	line-height: 120%;
	color: #666666;
	margin-bottom: 10px;
}

.profile_page .profile_page_side_section .user_details .user_id {
	margin: 0px;
	line-height: 120%;
	font-size: 18px;
	color: #666666;
}

.profile_page .profile_page_side_section .follower_section_box {
	background: #eeeeee;
	padding: 25px 30px 10px 30px;
	display: flex;
	justify-content: space-between;
	text-align: center;
}

.profile_page .profile_page_side_section .follower_section_box .follower_section .number {
	font-size: 24px;
	font-weight: 600;
	line-height: 120%;
	color: #666666;
	margin-bottom: 15px;
}

.profile_page .profile_page_side_section .follower_section_box .follower_section .text {
	font-size: 16px;
	line-height: 120%;
	color: #666666;
}

.profile_page .profile_page_side_section .rating_section_box {
	background: #ffffff;
	padding: 30px;
}

.profile_page .profile_page_side_section .rating_section_box .rating_section {
	margin-bottom: 30px;	
}

.profile_page .profile_page_side_section .rating_section_box .rating_section:last-child {
	margin-bottom: 0px;
}

.profile_page .profile_page_side_section .rating_section_box .rating_section .title {
	text-transform: uppercase;
	font-size: 18px;
	color: #666666;
}

.profile_page .profile_page_side_section .rating_section_box .rating_section .stars .checked {
	color: #25aae2;
	font-size: 15px;
}

.profile_page .profile_page_side_section .rating_section_box .rating_section .details {
	font-size: 15px;
	color: #666666;
	line-height: 120%;
}

.profile_page .profile_page_side_section .profile_page_side_section_button {
	display: flex;
	margin: 0px;
}

.profile_page .profile_page_side_section .profile_page_side_section_button .custom-padding {
	padding: 0px;
}

.profile_page .profile_page_side_section .profile_page_side_section_button .btn {
	border-radius: 0px;
	color: #fff;
	font-weight: 400;
	font-size: 16px;
	width: 100%;
}

.profile_page .profile_page_side_section .profile_page_side_section_button .btn.compose {
	background: #58ba47;
	border: 2px solid #58ba47;
	border-right: 0px;
	transition: 0.8s;
}

.profile_page .profile_page_side_section .profile_page_side_section_button .btn.compose:hover {
	background: transparent;
	border-color: #58ba47;
	color: #58ba47;
	transition: 0.8s;
}

.profile_page .profile_page_side_section .profile_page_side_section_button .btn.draft {
	background: #25aae2;
	border: 2px solid #25aae2;
	border-left: 0px;
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
    transition: 0.8s;
}

.profile_page .profile_page_side_section .profile_page_side_section_button .btn.draft:hover {
	background: transparent;
	border-color: #25aae2;
	color: #25aae2;
	transition: 0.8s;
}

.profile_page .profile_page_side_section .profile_page_side_section_button .btn .btn_name {
	margin-left: 7px;
}

.profile_page .profile_page_side_section .profile_page_side_section_button .btn .number {
	font-size: 14px;
}

.profile_page .profile_page_main_section {
	background: #fff;
	border: 1px solid #efefef;
}

.profile_page .profile_page_main_section .profile_main_title_section {
	padding: 13px 25px 10px 25px;
	border-bottom: 1px solid #efefef;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.profile_page .profile_page_main_section .profile_main_title_section .title {
	margin: 0px;
	font-size: 20px;
	color: #9b9c9b;
	font-weight: 600;
}

.profile_page .profile_page_main_section .profile_main_title_section .title i {
	color: #25aae2;
	margin-right: 5px;
}

.profile_page .profile_page_main_section .profile_main_title_section .edit_icon {
	font-size: 14px;
	color: #9b9c9b;
}

.profile_page .profile_page_main_section .profile_main_title_section .edit_icon:hover {
	color: #25aae3;
	transition: 0.5s ease-in-out;	
}

.profile_page .profile_page_main_section .profile_main_section {
	padding: 20px 25px 30px 25px;
}

.profile_page .profile_page_main_section .profile_main_section .content {
	color: #9b9c9b;
	font-size: 15px;
	line-height: 150%;
}

.profile_page .profile_page_main_section .profile_main_section .content + .content {
	margin-top: 30px;
}

.profile_page .profile_page_main_section .profile_main_section .content .user_name {
	font-weight: 700;
}

.profile_page .profile_page_main_section .profile_main_section.no_any_content {
	padding: 60px 25px 60px 25px;
	text-align: center;
}

.profile_page .profile_page_main_section .profile_main_section.no_any_content .content_text {
	font-size: 20px;
	color: #9b9c9b;
	font-weight: 600;
	line-height: 155%;
	opacity: 0.5;
}

.profile_page .profile_page_main_section .profile_main_section.no_any_content .content_text span {
	display: block;
	font-size: 16px;
	font-weight: 400;
}

.profile_page .profile_page_main_section .profile_main_title_section.title_secondary_section .title {
	font-size: 24px;
	color: #666666;
}

.profile_page .profile_page_main_section .profile_main_section .blog_form {
	padding-top: 10px;
}

.profile_page .profile_page_main_section .profile_main_section .blog_form input.form-control {
	border-radius: 0px;
	border-color: transparent;
	border-bottom: 1px solid #f0efef;
	color: #3b3b3b;
	font-size: 15px;
	padding-bottom: 10px;
	padding-left: 8px;
}

.profile_page .profile_page_main_section .profile_main_section .blog_form .form-control {
	border-color: #f0efef;
}

.profile_page .profile_page_main_section .profile_main_section .blog_form input.form-control::placeholder {
	color: #3b3b3b;
	opacity: 0.45;
}

.profile_page .profile_page_main_section .profile_main_section .blog_form label {
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    color: #9b9c9b;
    margin-bottom: 15px;
    margin-top: 15px;
}

.profile_page .profile_page_main_section .profile_main_section.profile_page_main_section_secondary {
	padding-bottom: 20px;
}

.profile_page .profile_page_main_section .profile_main_section .blog_form .btn_section {
	text-align: right;
	padding-top: 5px;
}

.profile_page .profile_page_main_section .profile_main_section .blog_form .btn_section button.btn {
    width: 132px;
    padding: 11px 14px;
    font-size: 16px;
    font-weight: 400;
    margin-left: 10px;
}

.profile_page .profile_page_main_section .profile_main_section .blog_form .btn_section button.btn-default {
	color: #c8c4c4;
	background: #eaeaea;
}

.profile_page .profile_page_main_section .profile_main_section .table .ad-checkbox-inline {
	width: 20px;
}

.profile_page .profile_page_main_section .profile_main_section .table .ad-checkbox-inline .ad-checkbox {
	width: 15px;
	margin-right: 0px;
	height: 15px;
	padding-left: 0px;
	margin-bottom: 0px;
}

.profile_page .profile_page_main_section .profile_main_section .table .ad-checkbox-inline .ad-checkbox input {
	left: 0px;
}

.profile_page .profile_page_main_section .profile_main_section .table .ad-checkbox-inline .ad-checkbox span {
	border-radius: 0px;
	width: 15px;
	height: 15px;
	border-color: #ebebeb;
	background: #fff;
}

.profile_page .profile_page_main_section .profile_main_section .table .checkbox_td {
	width: 5%;
	padding-right: 0px;
}

.profile_page .profile_page_main_section .profile_main_section .table .draft_td {
	width: 15%;
}

.profile_page .profile_page_main_section .profile_main_section .table .draft_td a {
    font-size: 15px;
    font-weight: 500;
    color: #25aae2;
}

.profile_page .profile_page_main_section .profile_main_section.no-padding {
	padding: 0px;
	padding-bottom: 20px;
}

.profile_page .profile_page_main_section .profile_main_section .table .date_td {
	text-align: center;
	color: #666666;
	width: 15%;
}

.table-striped tbody tr:nth-of-type(odd) {
	background-color: transparent;
}

.table-striped tbody tr:nth-of-type(even) {
	background-color: #f5f5f5;
}

.profile_page .profile_page_main_section .profile_main_section .table tr {
	padding: 0px 15px;
	display: block;
}

.profile_page .profile_page_main_section .profile_main_section .table td {
	vertical-align: middle;
	border-top: 0px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.profile_page .profile_page_main_section .profile_main_section .table .text_content {
	font-size: 15px;
	color: #666666;
	width: 70%;
}

.profile_page .profile_page_main_section .profile_main_section .table .text_content .text_font_secondary {
	font-weight: 300;
}

.profile_page .profile_page_main_section .profile_main_section .table .text_content .text_font_primary {
	font-weight: 400;
}

.profile_page .profile_page_main_section .profile_main_section .table .trash {
	font-size: 18px;
	color: #c3bfbf;
	transition: 0.5s;
}

.profile_page .profile_page_main_section .profile_main_section .table .trash:hover {
	color: #25aae2;
	transition: 0.5s;
}

.profile_page .profile_page_main_section .profile_main_section .media:nth-of-type(even) {
	background-color: #f5f5f5;
}

.profile_page .profile_page_main_section .profile_main_section .media {
	padding: 20px 25px;
	align-items: center;
}

.profile_page .profile_page_main_section .profile_main_section .media .media-edit {
	padding-left: 15px;
}

.profile_page .profile_page_main_section .profile_main_section .media .media-edit a {
	display: block;
	padding-left: 15px;
	font-size: 20px;
	color: #c3bfbf;
}

.profile_page .profile_page_main_section .profile_main_section .media .media-edit a.edit {
	margin-bottom: 15px;
	color: #58ba47;
}


.profile_page .profile_page_main_section .profile_main_section .media .media-edit a:hover {
	color: #25aae2;
}

.profile_page .profile_page_main_section .profile_main_section .media .media-left ,
.profile_page .profile_page_main_section .profile_main_section .media .media-left img {
	width: 130px;
}

.profile_page .profile_page_main_section .profile_main_section .media .media-body {
	padding-left: 25px;
	color: #666666;
}

.profile_page .profile_page_main_section .profile_main_section .media .media-heading {
    margin: 0px;
    font-size: 16px;
    font-weight: 500;
    color: #666666;
    line-height: 120%;
}

.profile_page .profile_page_main_section .profile_main_section .media .media-content {
    line-height: 140%;
    margin: 5px 0px;
    font-size: 13px;
}

.profile_page .profile_page_main_section .profile_main_section .media .media-sub-content {
	font-size: 13px;
	font-weight: 300;
}

.profile_page .profile_page_main_section .profile_main_section .blog_button {
	text-align: center;
	margin-top: 60px;
	margin-bottom: 20px;
}

.profile_page .profile_page_main_section .profile_main_section .blog_button .btn {
	width: 300px;
	font-size: 13px;
}

@media (max-width: 1199px) {
	.profile_page .profile_page_side_section .profile_page_side_section_button .btn {
		padding: 10px 20px 10px 20px;
	}
}

@media (max-width: 992px) {
	.profile_page .profile_page_side_section .follower_section_box {
		padding: 25px 20px 10px 20px;
	}
}
@media (max-width: 992px) {
	.profile_page .profile_page_main_section .profile_main_section .media {
		display: block;
	}
	.profile_page .profile_page_main_section .profile_main_section .media .media-body {
		padding-left: 0px;
		margin: 20px 0px;
	}
	.profile_page .profile_page_main_section .profile_main_section .media .media-edit {
		padding-left: 0px;
	}
	.profile_page .profile_page_main_section .profile_main_section .media .media-edit a {
		display: inline-block;
		padding-left: 0px;
		margin-right: 10px;
	}
	.profile_page .profile_page_main_section .profile_main_section .media .media-edit a.edit {
		margin-bottom: 0px;
	}
}

@media (max-width: 991px) and (min-width: 768px) {
	.profile_page .profile_page_main_section .profile_main_section .blog_form .btn_section button.btn {
		display: block;
		width: 100%;
		margin-top: 10px;
		margin-left: auto;
		margin-right: auto;
	}
}

@media (max-width: 767px) {
	.profile_page_side_section {
		width: 70%;
		margin: auto;
		margin-bottom: 30px;
	}
}

@media (max-width: 575px) {
	.profile_page_side_section {
		width: 100%;
	}

	.profile_page_side_section .rating_section .row .custom-width {
		width: 50%;
	}

	.profile_page .profile_page_side_section .profile_page_side_section_button .custom-padding {
		width: 50%;
	}

	.profile_page .profile_page_main_section .profile_main_section.no_any_content .content_text {
		font-size: 17px;
	}

	.profile_page .profile_page_main_section .profile_main_section.no_any_content .content_text span {
		font-size: 15px;
	}
	.profile_page .profile_page_main_section .profile_main_section .blog_form .btn_section button.btn {
		display: block;
		width: 100%;
		margin-top: 10px;
		margin-left: auto;
		margin-right: auto;
	}
}

/* Profile Page Section E */

/*
==========================================
	Footer
==========================================
*/

/* Footer Section S */

.footer-main {
	padding: 25px 0px;
	border-top: 2px solid #57ba45;
}

.footer-main .footer_menu {
	text-align: right;
}

.footer-main .footer_menu li {
	display: inline-block;
	margin-left: 15px;
}

.footer-main .footer_menu li a {
	font-size: 17px;
	font-weight: 400;
	color: #5e5e5e;
	transition: 0.5s;
}

.footer-main .footer_menu li a:hover {
	color: #32bef9;
	transition: 0.5s;
}

@media  (max-width: 767px) {
	.footer-main .logo_footer {
		text-align:  center;
		margin-bottom: 25px;
	}
	.footer-main .footer_menu {
		text-align: center;
	}
	.footer-main .footer_menu li {
		padding: 5px 0px;
	}
}

/* Footer Section E */

/*
=======================================================
	Copyright Section
=======================================================
*/

/* Copyright Section S */
.copyright-main {
	background: #25aae1;
	padding: 20px 0px;
	font-family: 'Open Sans', sans-serif;
}

.copyright-main .copyright_section {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.copyright-main .copyright_section .copyright {
	color: #fff;
	font-size: 15px;
	font-weight: 400;
	text-transform: uppercase;
	line-height: 120%;
}

.copyright-main .copyright_section a {
	color: #fff;
	font-size: 15px;
	margin-left: 10px; 
}

@media (max-width: 767px) {
	.copyright-main .copyright_section {
		display: block;
		text-align: center;
	}
	.copyright-main .copyright_section .copyright {
		margin-bottom: 15px;
	}
}
/* Copyright Section E */
