/* Modal - custom  S */

	.modal.fade .modal-dialog.modal-dialog-centered-custom {
	    -webkit-transform: translate(0%);
	    -ms-transform: translate(0%);
	    -o-transform: translate(0%);
		transform: translate(0%);	
	}

/* Modal - custom  E */


/* Setting - custom S */
	.keyword-block {
	    padding: 30px;
	    background: #f7f7f7;
	    height: 200px;
	    overflow-x: hidden;
	    overflow-y: scroll;
	}

	.keyword-block ul {
		margin: 0px;
		padding: 0px;
	}

	.keyword-block ul li {
		list-style: none;
	}

/* Setting - custom E */
