

/* AutoDS Finder page S */
.range-slider {
	width: 100%;
}
/* AutoDS Finder page E */

/* Modal - custom  S */

.modal.fade .modal-dialog.modal-dialog-centered-custom {
    -webkit-transform: translate(0%);
    -ms-transform: translate(0%);
    -o-transform: translate(0%);
	transform: translate(0%);	
}

/* Modal - custom  E */
.text-center{
	text-align: center;
}

/*  */
.btn.custom-btn {
    width: 200px;
}

.connect-btn
{
	margin: 1px;
}
/*Page Loader*/
.page_loader {
	overflow-x: hidden;
	overflow-y: hidden;
	vertical-align: middle;
	position: fixed;
	display: table;
	width: 100%;
	height: 100%;
	min-height: 100%;
	top: 0;
	z-index: 9999999999;
	background: #f7f7f7;
}

.page_loader .page_loader_container {
	position: relative;
	display: table-cell;
	vertical-align: middle;
	z-index: 9999999;
	text-align: center
}



@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/*Page Loader*/